{% extends 'partials_producto/base_producto.html' %}
{% load static %}
{% load bootstrap %}

{% block content %}      
        <div class="card">
            <div class="card-header">
                <h4><b>Datos del Producto</b></h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {{ formProducto|bootstrap }}
                    <div class="form-group">
                    <button type="submit" class="btn btn-success mt-3">Enviar</button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>

    <div class="container-sm mt-5">
        <a href="{% url 'producto:listarproductos' %}"><img src="{% static 'img/regreso.png' %}" width="40" height="40"></a>
    </div>
  {% endblock content %}