<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %} 
    {% load bootstrap %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'img/farmacia.png' %}" type="image/x-icon" />    
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"/>
    <title>LorFre Farmacia</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand">
            <img src="{% static 'img/customer.png' %}" alt="" width="50" height="50">
            <strong>Agregar Cliente</strong>
        </a>        
    </nav>

    <div class="container mt-4">        
        <div class="card">
            <div class="card-header">
                <h4><b>Datos del Cliente</b></h4>
            </div>
            <div class="card-body">
                <form action="{% url 'cliente:agregarCliente' %}" method="post">
                    {{ formCliente|bootstrap }}
                    <div class="form-group">
                    <button type="submit" class="btn btn-success mt-3">Enviar</button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>

    <div class="container-sm mt-5">
        <a href="{% url 'cliente:listaCliente' %}"><img src="{% static 'img/regreso.png' %}" width="30" height="30"></a>
    </div>
  </body>
</html>