{% extends "base_user_authentication.html" %}
{% load bootstrap %}

{% block content %}

    <div class="row mt-4">
        <div class="col-md-4 offset-md-4">
            <form method="post">
                {% csrf_token %}        
                
                        <div class="form-group">
                            <td>{{ form|bootstrap }}</td>
                        </div>           
                
                <button type="submit" class="btn btn-outline-info float-right" id="btnLogin">Cambiar contraseña</button>
            </form>
        </div>
    </div>

{% endblock content %}