{% load static %}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'empleado:listarempleados' %}">
      <img src="{% static 'img/empleado.png' %}" alt="" width="50" height="50"/>
      <strong>Listado de Empleados</strong>
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ml-5">
          <a class="nav-link active" aria-current="page" href="{% url 'empleado:agregarempleado' %}">Agregar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>