<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %} 
    {% load bootstrap %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'img/farmacia.png' %}" type="image/x-icon" />    
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"/>
    <title>FreLor Farmacia</title>   
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'webfarmacia:indexFarmacia' %}">
                <img src="{% static 'img/farmacia.png' %}" alt="" width="50" height="50">
                <strong>FreLor Farmacia</strong>
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ml-5">
                        <a class="nav-link active" aria-current="page" href="{% url 'cliente:listaCliente' %}">Clientes</a>
                    </li>
                </ul>          
            </div>
        </div>
    </nav>    
  </body>
</html>