.gallery-title {
  font-size: 36px;
  color: #0d7bff;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px;
}

.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
  border-bottom: 1px solid #5e5e5e;
}

.filter-button {
  font-size: 18px;
  border: 1px solid #e3f2fd;
  border-radius: 5px;
  text-align: center;
  color: #e3f2fd;
  margin-bottom: 30px;
}

.filter-button:hover {
  font-size: 18px;
  border: 1px solid #e3f2fd;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #e3f2fd;
}

.btn-default:active .filter-button:active {
  background-color: #e3f2fd;
  color: white;
}

.port-image {
  width: 100%;
}

.gallery_product {
  margin-bottom: 30px;
}