{% extends 'partials_empleado/base_empleado.html' %}
{% load static %}

    {% if  messages %}            
        {% for message in messages %}
            <div class="alert {% if message.tags %} alert-{{message.tags}} {% endif %}">{{ message }}</div>
        {% endfor %}            
    {% endif %}

{% block content %}
        <table class="table table-striped table-hover">
            <thead>
                {% comment %} <th>ID</th> {% endcomment %}
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th></th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
            {% for empleado in listaEmpleados %}
                <tr>
                    {% comment %} <th>{{cliente.id}}</th> {% endcomment %}
                    <th>{{empleado.nombre}} {{empleado.apellido}}</th>
                    <th>{{empleado.direccion}}</th>
                    <th>{{empleado.telefono}}</th>
                    <th>{{empleado.email}}</th>
                    <th><a href="{% url 'empleado:detallempleado' empleado.id %}"><img src="{% static 'img/detalle.png' %}" width="35" height="35"></a></th>
                    <th><a href="{% url 'empleado:actualizarempleado' empleado.id %}"><img src="{% static 'img/editar.png' %}" width="34" height="34"></a></th>
                    <th><a href="{% url 'empleado:eliminarempleado' empleado.id %}"><img src="{% static 'img/eliminar.png' %}" width="34" height="34"></a></th>
                    
                </tr>            
            </tbody>
            {% endfor %}
        </table>
    </div>    
    
    <div class="container-sm mt-5">
        <a href="{% url 'webfarmacia:indexFarmacia' %}"><img src="{% static 'img/regreso.png' %}" width="40" height="40"></a>
    </div>
{% endblock content %}